@charset "UTF-8";

body{
    background-color: rgb(81, 81, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

header{
    text-align: center;
    color: white;
}

section{
    max-width: 500px;
    margin: auto;
    padding: 15px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.253);
}

section > div{
    padding: 10px;
    margin: 10px;
}

section > input[type=button]{
    padding: 5px;
    font-weight: bold;
    margin: 10px;
}

section > #res{
    text-align: center;
}

footer{
    text-align: center;
    color: white;
    font-style: italic;
}